body{
position: relative;
}
a{
color:#778899;
}

  a:hover{
  color: #FFFAFA;
}
.navigation{
float: right;
width: 100%;
height: 45px;
z-index: 3;
}
.nav-tabs>li{
float: right;
}

.nav__logo{
float: left;
}

.hero-image {
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url('../image/sfondo_pasta.jpg');
background-size: cover;
height: 70vh;
width: auto;
}

a img{
width:100px;
}

.affix{
background-color: yellow;
}


.chisiamo h1,.ricette h1,.contatti h1{
  margin: 40px 0;
  position: relative;
}
.chisiamo h1:after,.ricette h1:after,.slide__img--testo h1:after,.contatti h1:after{
    content: "";
    position: absolute;
    left:0%;
    top: 40px;
    width: 60px;
    height: 3px;
    background: orange;
    margin: 4px 0;
}
.chisiamo__testo--titolo{
text-transform: uppercase;
display: flex;
align-items: center;
margin: 15px 0;
}
.chisiamo__testo--titolo h2{
margin: 0;
}
.chisiamo__testo--bottone{
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 16px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 10px 20px;
  border: solid 1px #FFA500;
  background: #FFA500;
  max-width: 100px;
  border-radius: 10px;
}
    .chisiamo__testo--bottone a{
    color: #fff;
    text-decoration: none;
    }
    .chisiamo__testo--bottone a:hover{
    color: #fAfAfA;
    text-decoration: none;
    }

.chisiamo__testo--logo{
width: 45px;
margin-right: 15px;
}

.swiper-container {
   width: 100%;
   height: auto;
}

.slide__img{
margin: 80px 0;
background-image: url('../image/slide__pasta.jpg');
background-size: cover;
height: 60vw;
width: auto;
}
  .slide__img--testo{
  margin: 120px 0;
  text-transform: uppercase;
  }
  .slide__img--testo h1{
  font-size: 55px;
  position: relative;
  }
  .slide__img--testo h1:after{
    content: "";
    position: absolute;
    top: 180px;
  }


footer{
background-color:rgba(0, 0, 0, 0.5);
margin-top: 80px;
}
footer a{
color: black;
}
.contatti__logo,.contatti__indirizzi--social,.contatti__indirizzi p{
text-align: center;
margin: 10px 0;
}
.contatti__indirizzi--social ul li{
display: inline-block;
}
